* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #09090a;
}

body {
  /*background-color: #09090A;  -preto mais preto*/
  color: white;

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  position: fixed;
  width: 100%;
}

button {
  padding: 16px 24px; /*preenchimento do botão*/
  border-radius: 8px; /*arredondamento da borda*/
  border: 1px solid #EF4444;
  background-color: transparent;
  color: white;

  display: flex; /*Disposição ou distribuição do elemento*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 125%;
}

#form-habits {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 40px;
  height: 64px;

  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #EF4444;
  border-radius: 8px;
  background: #18181b;
}
/*Pseudo-selector - pseudoseletor ou falso seletor*/
input:checked {
  background: #DC2626;
  border: 2px solid #7F1D1D;
  border-radius: 8px;
}

@media (max-width: 570px) {
  button div{
    display: none;
  }
}